body {
    margin: 0 auto;
    text-align: center;
    background-color: red;
    //max-width: 1200px;
    max-width: 1270px;

    .all-content {
    	h1{
    		text-align: center;
    		color: yellow;
    	}
    }

}